# **Data Types**

- Integer: int
- float
- string
- list
- tuple
- set
   - frozen set
- dictionary
- bool
- complex
- range
- byte
- byte array
- memory view
- None type

$Integer$

In [11]:
number=100
number

100

In [13]:
type(number)

int

**Number System**
- Binary Number System
- Decimal Number System
- Octa Number System
- Hexa Number System

**Binary Number System**
- It is denoted with **0b** or **0B**
- Binary means two
- We have generally 0 to 9 digits available
- Binary means only two digits allowed: 0 and 1
- Ex: 0b101  0b111  0b000  0B001
- Not valid: 0b123  0B1000012

In [19]:
0b111

7

In [21]:
0b11101

29

In [24]:
2^3    2^2    2^1    2^0
 8       4      2      1

 0       0      0      0      0
 0       0      0      1      1
 0       0      1      0      2
 0       0      1      1      3
 0       1      0      0      4
 0       1      0      1      5
 0       1      1      0      6
 0       1      1      1      7
 1       0      0      0      8
 1       0      0      1      9
 1       0      1      0      10
 1       0      1      1      11
 1       1      0      0      12
 1       1      0      1      13
 1       1      1      0      14
 1       1      1      1      15

SyntaxError: invalid syntax (160197549.py, line 1)

**Octa Number System**
- It is denoted with **0o** or **0O**
- Octa means eight
- We have generally 0 to 9 digits available
- Octa means only eight digits allowed: 0 to 7
- Ex: 0o123  0o567  0O111
- Not valid: 0o768  0O1123

**Hexa Number System**
- It is denoted with **0x** or **0X**
- Hexa means sixteen
- We have generally 0 to 9 digits available
- Hexa means only sixteen digits allowed: 0 to 9 and A to F
- A:11  B:12  C:13  D:14  E:15  F:16
- Ex: 0xABC  0x9F  0X81A
- Not valid: 0x9GH  0XABCI

$Float$

In [30]:
number=10.5
type(number)

float

**e representation**

In [35]:
print(1e1)  # 1*10=10
print(1e2)  # 1*100=100
print(2e3)  # 2*1000=2000
print(4e4)  # 4*10000=40000

10.0
100.0
2000.0
40000.0

In [43]:
print(1e+1)  # 1*10=10
print(1e+2)  # 1*100=100
print(2e+3)  # 2*1000=2000
print(4e+4)  # 4*10000=40000

10.0
100.0
2000.0
40000.0

In [1]:
print(1e-1)  # 1/10=0.1
print(1e-2)  # 1/100=0.01
print(2e-3)  # 2/1000=0.002
print(4e-4)  # 4/10000=0.0004

0.1
0.01
0.002
0.0004

$boolean$

In [4]:
val=True
val

True

In [6]:
type(val)

bool

In [8]:
val1=False
val1

False

In [10]:
type(val1)

bool

$Strings$

- English format representation
- Strings represent with quotes
- We can use single quotes, double quotes and triple quotes

In [15]:
name='python'
name

'python'

In [17]:
type(name)

str

In [19]:
print(name)
# when we print we will not able to see the quotes

python

In [21]:
val='10'
type(val)

str

In [23]:
val1=10
type(val1)

int

In [25]:
name="Naresh iT"
name
# but the output displayed as single quotes

'Naresh iT'

In [27]:
type(name)

str

In [29]:
print(name)

Naresh iT

In [31]:
name1="I love 'python'"
print(name1)

I love 'python'

In [33]:
name2='I love "AI"'
print(name2)

I love "AI"

- Keep entire string in double quotes then highlight the word in single quotes and vice versa

- Triple quotes can not use in coding part
- Triple quotes means conveying the information
- This process is called as **Doc String**
- In jupyter notebook we have markdown option
- But in vscode or pycharm there is no markdown option
- So we use triple quotes to convey information

In [38]:
text='''Hi
  Today I am learning python
  Its easy'''
print(text)

Hi
  Today I am learning python
  Its easy

In [42]:
true=True
true='True'
true=10.5

In [44]:
True=10
True=True

SyntaxError: cannot assign to True (269226675.py, line 1)