# try-except
- try and except is a concept of exception handling
- There are two blocks
  - try block
  - except block
- Original code will run under try block
- If any error occurs in try block, the error will be caught by except block
- Usecase-1: The code should catch the errors automatically
- Usecase-2: The code should continue even though we get the error

In [5]:
a=10
b=0
c=a/b # this is not a important line
# even though we are getting error nothing will happen
# my python code should not stop here
# I want to create a log in that i want to catch
print(c)

ZeroDivisionError: division by zero

In [13]:
try:
    a=10
    b=10
    c=a/b # we will get error
    print(c)
except:
    print("Error coming in try block")
    print("Zero Division Error")

1.0

**Note:**
- Except block will run when we get the error in try block
- If code is correct only try block executed

#### Types of Errors
- Syntax Error
- Attribute Error
- Module Not Found Error
- Name Error
- Type Error
- Indentation Error
- Zero Division Error
- Object Not Callable Error

In [18]:
a=10
b=20
c=a+b
print(c

SyntaxError: incomplete input (1116166254.py, line 4)

In [20]:
import nareshit

ModuleNotFoundError: No module named 'nareshit'

In [22]:
import random
random.pushpa

AttributeError: module 'random' has no attribute 'pushpa'

In [24]:
c=num1+num2

NameError: name 'num1' is not defined

In [26]:
'10'*'10'

TypeError: can't multiply sequence by non-int of type 'str'

In [28]:
if True:
a=10

IndentationError: expected an indented block after 'if' statement on line 1 (3173271649.py, line 2)

In [33]:
n1=2
n2=5
n3=n1*n2
printn3)

SyntaxError: unmatched ')' (2283272872.py, line 4)

In [35]:
import uday

ModuleNotFoundError: No module named 'uday'

In [37]:
import math
math.english

AttributeError: module 'math' has no attribute 'english'

In [39]:
number=number1+number2
print(number)

NameError: name 'number1' is not defined

In [41]:
num=input()
add=num+10

 10

TypeError: can only concatenate str (not "int") to str

In [43]:
try:
    n1=eval(input('Enter n1:'))
    n2=eval(input('Enter n2:'))
    div=n1/n2
    print('The div is:',div)
except Exception as e:
    print(e)

Enter n1: 10
Enter n2: 0

division by zero

In [45]:
try:
    import nareshit
except Exception as e:
    print(e)

No module named 'nareshit'

In [47]:
try:
    import random
    random.uday
except Exception as e:
    print(e)

module 'random' has no attribute 'uday'

In [49]:
try:
    num=10
    print(number)
except Exception as e:
    print(e)

name 'number' is not defined

In [55]:
try:
    mul='2'*'5'
    print(mul)
except Exception as e:
    print(e)

can't multiply sequence by non-int of type 'str'

In [57]:
try:
    n1=eval(input('Enter the number:'))
    if n1%2==0:
        print(f"{n1} is an even")
    else:
        print(f"{n1} is an odd")
except Exception as e:
    print(e)

Enter the number: 2

2 is an even

In [59]:
try:
    n1=eval(input('Enter the number:'))
    if n1%2==0:
        print(f"{n21} is an even")
    else:
        print(f"{n21} is an odd")
except Exception as e:
    print(e)
    a=10
    b=20
    print('a+b:',a+b)

Enter the number: 45

name 'n21' is not defined
a+b: 30