In [5]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**Zip**

In [10]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**Dictionary**
- In above example, names and age both are together
- When both are together we can pair them
- This can happen using dictionary
- Dictionary is called as **Key-Value** pair
- It represents with curly braces: **{key:value}**

In [13]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [17]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [19]:
d3={'names':['Rohith Sharma','Ronaldo','Tyson'],'sports':['Cricket','Soccer','Boxing']}
d3

{'names': ['Rohith Sharma', 'Ronaldo', 'Tyson'],
 'sports': ['Cricket', 'Soccer', 'Boxing']}

In [23]:
d4={'Ramesh':20,'Ramesh':'30'}
d4

{'Ramesh': '30'}

In [29]:
d5={'Ramesh':20,'Ramesh':20}
d5
# In dictionary, keys play vital role
# keys can not be duplicate but values can be duplicate

{'Ramesh': 20}

In [31]:
d6={20:'Ramesh',20:'Suresh'}
d6

{20: 'Suresh'}

In [35]:
d7={True:'true'}
d7

{True: 'true'}

In [37]:
d8={'fruits':('Apple','Banana')}
d8

{'fruits': ('Apple', 'Banana')}

In [41]:
d9={'fruits':['Apple','Banana']}
d9

{'fruits': ['Apple', 'Banana']}

In [43]:
d10={('Apple','Banana'):'fruits'}
d10

{('Apple', 'Banana'): 'fruits'}

In [47]:
d11={['Apple','Banana']:'fruits'}
d11

TypeError: unhashable type: 'list'

- List as keys fail because list has a mutable behaviour
- Tuple as keys fail because list has a immutable behaviour

In [1]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'Banana':30,'Cherry':10}
dict3={20:'Apple',30:'Banana',10:'Cherry'}

In [3]:
max(dict1),max(dict2),max(dict3)

('Cherry', 'Cherry', 30)

In [5]:
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 10)

In [7]:
20 in dict1

False

In [9]:
'Apple' in dict1

True

In [11]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [13]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [15]:
dict1[0]

KeyError: 0

**How to extract the values**
- In dictionary we have a concept key:value pair
- Keys are very important
- In order to get the values we need to take keys help

In [24]:
dict1['Apple']

20

In [26]:
for i in dict1:
    print(dict1[i])

20
30
50

In [28]:
names={'Ramesh':20,'Suresh':25,'Sathish':30}
for i in names:
    print(f"{i} age is {names[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [30]:
d={'Fruits':['Apple','Banana','Cherry']}
d['Fruits'][2]

'Cherry'

In [32]:
d={'Fruits':{'Apple':['Sweet','Sour','Green']}}
d['Fruits']['Apple'][2]

'Green'

In [34]:
d={'Fruits':[{'Cost':[50]}]}
d['Fruits'][0]['Cost'][0]

50

In [48]:
d={'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['1kg'][2],d['Cost'][0]['2kg']

(40, None)

In [50]:
d={'Fruits':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**How to create empty dictionary**
- Now onwards focus on creation of empty list, strings and dictionary
- We will take empty list will use append operation
- We will take empty string will use concatenation
- We will take empty dictionary will use key:value pair concept

In [55]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [57]:
# strings
s=''
s=s+'p'
s=s+'y'
s

'py'

In [63]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [73]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in names:
    for j in age:
        d[i]=j
d

{'Ramesh': 30, 'Suresh': 30, 'Sathish': 30}

**Dictionary Comprehension**
- For list comprehension, we written everything inside list
- For dictionary comprehension, we should write everything inside dictionary

In [76]:
# list comprehension: [<output> <for loop>]
# dictionary comprehension: {<key:value> <for loop>}

{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**Mutable-Immutable**
- Lists are mutable
- Dictionary are also mutable
- Strings immutable
- Tuple immutable
- In dictionary, we can change the values using keys

In [79]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Sathish': 30}

In [81]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.clear()

In [11]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d1=d.copy()
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [13]:
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)])

In [15]:
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [17]:
d.values()

dict_values([20, 25, 30])

**Convert dictionary to list**
- In order to convert dictionary to list
- First we need to separate keys and values
- Then apply list type casting

In [22]:
d={'Uday':24,'Teja':17,'Rakesh':23}
keys=d.keys()
keys_list=list(keys)
keys_list

['Uday', 'Teja', 'Rakesh']

In [24]:
values=d.values()
values_list=list(values)
values_list

[24, 17, 23]

In [26]:
items=d.items()
items_list=list(items)
items_list

[('Uday', 24), ('Teja', 17), ('Rakesh', 23)]

In [60]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
emails = input.split(';')
fname = [email.split('.')[0] for email in emails]
sname = [email.split('.')[1].split('@')[0] for email in emails]
cname = [email.split('@')[1].split('.')[0] for email in emails]
dic={}
dic['fname']=fname
dic['sname']=sname
dic['cname']=cname
dic

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [62]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.pop('Ramesh')

20

In [64]:
d

{'Suresh': 25, 'Sathish': 30}

In [68]:
l1=['Ramesh','Suresh','Sathish']
l1.remove('Ramesh')
l1

['Suresh', 'Sathish']

- **pop** in dictionary, similar analogy remove in list

In [71]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.popitem()
d

{'Ramesh': 20, 'Suresh': 25}

In [73]:
l1=['Ramesh','Suresh','Sathish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **popitem** in dictionary, similar analogy pop in list

**get**

In [80]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
d.get('Ramesh')

20

**update**
- Update is similar analogy to list extend
- Take two dictionaries and apply update method

In [83]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={'Uday':24,'Teja':17,'Rakesh':23}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Sathish': 30,
 'Uday': 24,
 'Teja': 17,
 'Rakesh': 23}

**setdefault**
- Suppose an already existed dictionary available
- We can update the dictionary with new key:value pair

In [87]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1.setdefault('Manish')
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Manish': None}

In [89]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1.setdefault('Manish',35)
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Manish': 35}

- **setdefault** in dictionary, similar analogy **list append**
- Always remember dictionary is a key:value pair concept
- It never involves index operations
- Thats why we don't have any index or find methods
- We have get method to extract values using key

**fromkeys**
- Create a dictionary with different keys but same value
- fromkeys will take an arguement **iterable**
- Try yo provide an iterator i.e., string,list,tuple

In [96]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'NareshiT')

{'Ramesh': 'NareshiT', 'Suresh': 'NareshiT', 'Sathish': 'NareshiT'}