- Basic Representations
- Inbuilt Functions
  - print
  - type
  - len
  - sum
  - max
  - min
  - sorted
  - reversed
- concatenation
- indexing
- mutable or immutable concept
- slice
- methods

**Basic Representations**

In [5]:
name='python'
name

'python'

In [7]:
print(name)

python

In [9]:
name="python"
name

'python'

- python by default gives output in **single quotes**
- when we print the string the output display **without quotes**

In [12]:
str1="I love 'python'"
print(str1)

I love 'python'

In [14]:
str2='I love "python"'
print(str2)

I love "python"

**Doc String**
- Triple quotes also called as doc string
- Triple quotes means the user try to convey some information

In [17]:
name='python'
type(name)

str

In [19]:
name1="Uday Kiran"
len(name1)

10

In [37]:
max(name1)

'y'

In [39]:
min(name1)

' '

**sorted**
- sorted means either ascending or descending order
- ascending order: small to big
- descending order: big to small

In [43]:
sorted(name1)

[' ', 'K', 'U', 'a', 'a', 'd', 'i', 'n', 'r', 'y']

In [ ]:
**iterable**: Anything that can be print

In [51]:
def add(a,b):
    print(a+b)
add(10,20)

30

In [59]:
def add(a,b):
    print(a+b)
add(a=10,b=20)

30

In [53]:
def add(a,/,b):
    print(a+b)
add(a=10,b=20)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [55]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [57]:
def add(a,/,b):
    print(a+b)
add(a=10,20)

SyntaxError: positional argument follows keyword argument (3787002837.py, line 3)

In [61]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

**Note:**
- / before don't use arguement name
- / after you can use arguement name, that is our wish
- (*) indicates no need to maintain the order of the arguements

In [67]:
def add(a,/,*,b,c):
    print(a+b+c)
add(10,20,30)

TypeError: add() takes 1 positional argument but 3 were given

In [71]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [73]:
sorted('python')
sorted(iterable='python')
sorted('python',reverse=True)
sorted(iterable='python',reverse=True)
sorted('python',True)

TypeError: sorted expected 1 argument, got 0

In [77]:
ans=reversed('Uday Kiran')

- Answer saved at address memory location
- We can see the answer by using for loop or list
- Whenever we see less than greater than symbol answer
- Try to apply for loop or list

In [83]:
for i in ans:
    print(i)

n
a
r
i
K

y
a
d
U

In [92]:
ans=reversed('Uday Kiran')
list[ans]

TypeError: list indices must be integers or slices, not reversed

**Concatenation**

In [107]:
str1='Hello '
str2='Python'
str1+str2

'Hello Python'

In [97]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [99]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [101]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [105]:
str3='Uday '
str3*3

'Uday Uday Uday '

In [3]:
str1='Hello Python'
n=len(str1)
for i in range(0,n):
    print(str1[i])

H
e
l
l
o

P
y
t
h
o
n

In [41]:
st1='python'
for i in range(i,i-6):
    print(f"The positive index of {st1[i]} is {i}")
    print(f"The negative index of {st1[i]} is {i-6}")
    print(f"The positive index of {st1[i]} is {i} and negative index of {st1[i]} is {i-6}")

TypeError: unsupported operand type(s) for -: 'str' and 'int'

**When to use in operator and when to use range operator**
- **in** operator directly access the elements
- **range** operator access the elements using index or number
- Any problem statement if you need numbers then go for range
- Otherwise go for in operator directly

In [20]:
st='Python'
for i in st:
    print(i)

P
y
t
h
o
n

In [24]:
for i in range(0,6):
    print(st[i])

P
y
t
h
o
n

In [43]:
str2='ola ola ola'
for i in range(len(str2)):
    if str2[i]=='a':
        print(f"The indexes of 'a' in string is {i}")

The indexes of 'a' in string is 2
The indexes of 'a' in string is 6
The indexes of 'a' in string is 10

In [45]:
str2='ola ola ola'
summ=0
for i in range(len(str2)):
    if str2[i]=='a':
        summ=summ+i
print(f"The sum indexes of 'a' in string is {summ}")

The sum indexes of 'a' in string is 18

In [47]:
str2='ola ola ola'
count=0
for i in range(len(str2)):
    if str2[i]=='a':
        count=count+1
print(f"The number of 'a' in string is {count}")

The number of 'a' in string is 3

In [53]:
str3='hai how are you'
s1='aeiou'
count=0
for i in str3:
    if i in s1:
        print(i)
        count=count+1
print(f"The number of vowels in string is {count}")

a
i
o
a
e
o
u
The number of vowels in string is 7

In [59]:
s2=''
for i in str3:
    if i in 'aeiou' and i not in s2:
        print(i)
        s2=s2+i

a
i
o
e
u

**Mutable-Immutable**
- Mutable means change
- Immutable means can not change
- We can not change the elements using index operations

In [62]:
str1='Hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [64]:
li=[10,20,30]
li[1]

20

In [66]:
li[1]=50
li

[10, 50, 30]

**Slicing and Methods**

**slice**
- Slice means cut in to pieces
- It has similar analogy with for loop range
- In the for loop range we have start,stop,step
- range(start,stop,step), str[start:stop:step]

In [18]:
# -17  -16  -15  -14  13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#  h    e    l    l   o         h    o    w       a   r   e       y   o   u
#  0    1    2    3   4    5    6    7    8   9   10  11  12  13  14  15  16

st='hello how are you'

Case-1: str[stop]
- By default start=0
- By default step=positive direction 1
- Last=stop-1

In [20]:
st[:4]

'hell'

Case-2:
- By default start=start value
- By default step=positive direction 1
- Last=last index

In [11]:
str[-3:]

'you'

Case-3: str[:stop]
- By default start=0
- By default step=positive direction 1
- Last=stop-1

In [16]:
str1="Hello how are you"
str1[-15:10]

'llo how '

Case-4: str[:stop]
- By default start=0
- By default step=positive direction
  - last=

### Methods

In [25]:
name='python'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**upper**

In [28]:
str1='welcome'
str1.upper()

'WELCOME'

In [30]:
str2='WORLD'
str2.lower()

'world'

In [40]:
str3='data scientist'
str3.title()

'Data Scientist'

In [34]:
str4='uday kiran sangepu'
str4.capitalize()

'Uday kiran sangepu'

In [38]:
str5='NARESH I TECHNOLOGIES'
str5.casefold()

'naresh i technologies'

**Difference between methods and inbuilt functions**

In-Built Functions:
- len()
- max()
- min()
- type()
- print()
- sum()

Methods
- upper()
- lower()
- title()
- capitalize()
- casefold()

**center**

In [44]:
st1='python'
st1.center(20)

'       python       '

In [48]:
st1='python'
st1.center(12,'*')

# here 12 means the len of string becomes 12 characters
# already 'python' string has 6 characters
# so remaining 6 characters padd as *

'***python***'

**strip-lstrip-rstrip**
- strip means removes the characters from both left and right side
- lstrip will remove the characters on left side
- rstrip will remove the characters on right side

In [51]:
st2='  python  '
st3='***python****'
st4='    python****'
st2.strip()

'python'

In [53]:
st2.lstrip()

'python  '

In [55]:
st2.rstrip()

'  python'

In [71]:
st3.strip('*')

'python'

In [73]:
st3.lstrip('*')

'python****'

In [75]:
st3.rstrip('*')

'***python'

In [77]:
st4.strip().strip('*')

'python'

In [79]:
st4.lstrip().rstrip('*')

'python'

In [83]:
st4.rstrip('*').lstrip()

'python'

In [87]:
st1.startswith('P')

False

In [89]:
st1.endswith('n')

True

**count**

In [4]:
str1='ola ola ola'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

3

$Case-1:$

In [6]:
str1.count('a')

3

In [8]:
str1.count('ola')

3

In [10]:
str1.count('ola ')

2

$Case-2:$

In [14]:
# o  l  a     o  l  a     o  l  a
# 0  1  2  3  4  5  6  7  8  9  10

str1.count('a',4)

2

In [16]:
str1.count('a',7)

1

In [18]:
str1.count('a',4,7)

1

In [20]:
str1.count('a',-4)

1

In [26]:
str1.count('a',-7,-2)

1

In [42]:
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count+=1
print(count)

3

**Sliding Window Approach**
- Fix the slice value first: **str1[i:i+3]**
- Then increase the slice value by 1: **for i in range(len(str1))**
- Whenever it is equal to substring: **str1[i:i+3]=='ola'**
- Then update the count: **count+=1**

**replace**

In [46]:
str2='welcome'
str2.replace('w','W')

'Welcome'

In [50]:
str2.replace('z','Z')

'welcome'

- By default it will replace all the occurences
- The user can provide count which indicates how many letters can replace
- If the substring not found it will return thee original string itself

In [73]:
st1='restart'
s1=st1[0:5]
s2=st1[5:]
s3=s2.replace('r','$')
print(s1+s3)

resta$t

In [79]:
st1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index**

In [84]:
st2='restart restart'
st2.index('t')
# by default first string index will come

3

In [94]:
st2.index('r')
st2.index('r',1)
st2.index('r',6)
st2.index('r',9)

13

In [96]:
i1=st2.index('r')
i2=st2.index('r',i1+1)
i3=st2.index('r',i2+1)
i4=st2.index('r',i3+1)
print(i1,i2,i3,i4)

0 5 8 13

**find**

In [99]:
st2.find('e')

1

In [9]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'
str4='a.b@c.com'
s11=str1.index('.')
s12=str1.index('@')
s13=str1.index('.',s11+1)
s21=str2.index('.')
s22=str2.index('@')
s23=str2.index('.',s21+1)
s31=str3.index('.')
s32=str3.index('@')
s33=str3.index('.',s31+1)
fn1=str1[:s11]
print(fn1)
ln1=str1[s11+1:s12]
print(ln1)
c1=str1[s12+1:s13]
print(c1)
fn2=str2[:s21]
print(fn2)
ln2=str2[s21+1:s22]
print(ln2)
c2=str2[s22+1:s23]
print(c2)
fn3=str3[:s31]
print(fn3)
ln3=str3[s31+1:s32]
print(ln3)
c3=str3[s32+1:s33]
print(c3)

virat
kohli
rcb
rohit
sharma
mi
ms
dhoni
csk

In [11]:
def extract(str1):
    s11=str1.index('.')
    s12=str1.index('@')
    s13=str1.index('.',s11+1)
    print(s11,s12,s13)
    fn=str1[:s11]
    ln=str1[s11+1:s12]
    cn=str1[s12+1:s13]
    print(fn,ln,cn)
extract(str1)

5 11 15
virat kohli rcb

In [13]:
extract(str2)

5 12 15
rohit sharma mi

In [15]:
extract(str3)

2 8 12
ms dhoni csk

**split**
- Split is used to convert a string to list of elements
- By default it will split based on space

In [28]:
str1='Hai how are you'
l=str1.split()
l

['Hai', 'how', 'are', 'you']

In [34]:
str2='Hello, how are you'
s=str2.split(',')
s

['Hello', ' how are you']

In [23]:
str1.split('o')

['Hai h', 'w are y', 'u']

**join**

In [30]:
' '.join(l)

'Hai how are you'

In [36]:
','.join(s)

'Hello, how are you'

In [3]:
str1='The telephone number is 123456'
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

123456