## List Comprehension
- List comprehension is a way to write list operations in a single line
- When we apply for loop and if-else conditional statements then the code compilation becomes slow
- Which means it takes much time
- Inorder to avoid the time complexity we will use list comprehension
- List comprehension is a single line code

In [2]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<output var> <for loop>]

In [4]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
input_list =['hyd','bengaluru','pune','mumbai']
output_list=[city.capitalize() for city in input_list]
print(output_list)

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [8]:
input_list=['hyd','bengaluru','pune','mumbai']
output_list = [city.upper() for city in input_list]
print(output_list)

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [20]:
input_list=['hyd','bengaluru','pune','mumbai']
output_list = [input_list.index(city)*10 for city in input_list]
print(output_list)

[0, 10, 20, 30]

In [26]:
input_list=['hyd','bengaluru','pune','mumbai']
summ=0
output_list = [input_list.index(city)+summ for city in input_list]
print(summ)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2528943692.py, line 3)

**Walrus Operator**

In [29]:
input_list=['hyd','bengaluru','pune','mumbai']
summ=0
output_list = [summ:=input_list.index(city)+summ for city in input_list]
print(summ)

6

**Case-2: for loop if condition**

In [32]:
# even number
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f"Even:{i}")
even_list

['Even:2', 'Even:4', 'Even:6', 'Even:8']

In [42]:
even_list=[f"Even:{i}" for i in range(1,10) if i%2==0]
even_list

['Even:2', 'Even:4', 'Even:6', 'Even:8']

In [44]:
input_list = ['hyd', 'ben#galuru', 'pune', 'mu#mbai']
output_list = [city for city in input_list if '#' in city]
print(output_list)

['ben#galuru', 'mu#mbai']

In [46]:
input_list = ['hyd', 'ben#galuru', 'pune', 'mu#mbai']
output_list = [city for city in input_list if '#' not in city]
print(output_list)

['hyd', 'pune']

In [50]:
list1=[]
for i in range(1,10):
    if i%2==0:
        list1.append(f"Even:{i}")
    else:
        list1.append(f"Odd:{i}")
list1

['Odd:1',
 'Even:2',
 'Odd:3',
 'Even:4',
 'Odd:5',
 'Even:6',
 'Odd:7',
 'Even:8',
 'Odd:9']

In [54]:
list1=[f"Even:{i}" if i%2==0 else f"Odd:{i}" for  i in range(1,10)]
list1

['Odd:1',
 'Even:2',
 'Odd:3',
 'Even:4',
 'Odd:5',
 'Even:6',
 'Odd:7',
 'Even:8',
 'Odd:9']

In [56]:
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f"{i}: A Grade")
    elif i>60:
        print(f"{i}: B Grade")
    else:
        print(f"{i}: C Grade")

45: C Grade
55: C Grade
65: B Grade
75: B Grade
85: B Grade
95: A Grade

In [66]:
list1=[f"{i}: A Grade" if i>85 else f"{i}: B Grade" if i>60 else f"{i}: C Grade" for i in l]
list1

['45: C Grade',
 '55: C Grade',
 '65: B Grade',
 '75: B Grade',
 '85: B Grade',
 '95: A Grade']

**Screening Paper Questions**

In [4]:
marks=[45,76,89,53,67,90,82,49,33,99]
marks1=[marks.index(i) for i in marks if i>=50]
marks1

[1, 2, 3, 4, 5, 6, 9]

In [10]:
marks2=[f"{i}:A" if i>=85 else f"{i}:B" if i>=70 else f"{i}:C" if i>=50 else f"{i}:F" for i in marks]
marks2

['45:F',
 '76:B',
 '89:A',
 '53:C',
 '67:C',
 '90:A',
 '82:B',
 '49:F',
 '33:F',
 '99:A']

In [14]:
[i+5 for i in marks if i<50]

[50, 54, 38]

AttributeError: 'int' object has no attribute 'sorted'

In [22]:
summ=0
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**Distance between two points**

In [25]:
import math

l1=[10,20]
l2=[30,40]
# find the distance between l2 with all other points from l1, which is the maximum distance
d1=l2[0]-l1[0]
d1_sqr=math.pow(d1,2)
d2=l2[1]-l1[1]
d2_sqr=math.pow(d2,2)
summ=d1_sqr+d2_sqr
math.sqrt(summ)

28.284271247461902

In [27]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [29]:
l1=[[1,2],[4,5],[6,7]]
l2=[10,20]
for i in range(len(l1)):
    for j in range(len(l2)):
        math.sqrt(math.pow(l2[i]-l1[j],2)+math.pow(l2[i]-l1[j],2))

TypeError: unsupported operand type(s) for -: 'int' and 'list'