In [3]:
salary=eval(input("Enter the salary:"))
tax_perc=eval(input("Tax percentage:"))
tax_pay=salary*tax_perc/100
print(tax_pay)

Enter the salary: 1800000
Tax percentage: 10

180000.0

**Loops**
- Loops are used to iterate the code multiple times
- Functions are used to reuse the code block
- That code block can be repeated multiple times
- Whenever you are doing the same task multiple times then think about loop
- We have two loops
  - for loop
  - while loop
- Any loop we need three things
  - Initialization (start point)
  - increment or decrement
  - condition to stop

### For loop

In [ ]:
for <variable> in range(<number>):
    <write your code here>

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(3):
    print(i, end=' ')

0 1 2

**Case-1: range(stop)**
- start=0; python index always starts with zero
- increment by 1
- last=stop-1

In [11]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
for i in range(3):
    print('Good Night')

Good Night
Good Night
Good Night

**Case-2: range(start,stop)**
- Suppose I want to start my loop with a particular number
- then add start also inside range
- start=start
- increment by 1
- last=stop-1
- Ex: range(10,20)
  - start=10, increment by 1, lasr=20-1=19

In [16]:
for i in range(10,20):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19

In [18]:
# WAP ask the user print the square of first 5 number

for i in range(1,6):
    print(i*i, end=' ')

1 4 9 16 25

In [22]:
# WAP ask the user enter a number the prompt should happen 5 times and print the sqquare of the number

for i in range(5):
    num=eval(input("Enter the number:"))
    print(num*num, end=' ')

Enter the number: 9

81

Enter the number: 5

25

Enter the number: 2

4

Enter the number: 8

64

Enter the number: 7

49

**Case-3: range(start,stop,step)**
- start=start only
- step:
  - Look about step sign is it positive or negative sign
  - Positive means increment
    - last:stop-1
  - negative means decrement
    - last:stop+1

In [27]:
# Example1: range(3,19,2)
# start=3
# step=+2 positive direction
# last=19-1=18
# 3,5,7,9,11,13,15,17
for i in range(3,19,2):
    print(i, end=' ')

3 5 7 9 11 13 15 17

In [29]:
# Example1: range(3,19,2)
# start=3
# step=+2 negative direction
# last=19+1=20
for i in range(3,19,-2):
    print(i, end=' ')

In [31]:
for i in range(3,-19,-2):
    print(i, end=' ')

3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17

In [1]:
for i in range(20,-20,-10):
    print(i)

20
10
0
-10

In [7]:
num=eval(input("Enter the number for table:"))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

Enter the number for table: 7

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [25]:
# Find the number of divisors of 75
# if you divide 75 with any number the remainder should be 0

n=eval(input("Enter the number for divisors needed:"))
for i in range(1,n+1):
    if n%i==0:
        print(f"The divisors of {n} are {i}")

Enter the number for divisors needed: 75

The divisors of 75 are 1
The divisors of 75 are 3
The divisors of 75 are 5
The divisors of 75 are 15
The divisors of 75 are 25
The divisors of 75 are 75

**Summation Wrapper**
- Starting we initiative the sum value: summ=0
- Inside loop we will add a simple line: summ=summ+i

In [27]:
# sum of first 10 natural numbers

n1=eval(input("Enter the number:"))
summ=0
for i in range(1,n1+1):
    summ=summ+i
print(f"The sum of first {n1} natural numbers is {summ}")

Enter the number: 10

The sum of first 10 natural numbers is 55

In [30]:
# Find the sum of divisors of 75

n2=eval(input("Enter the number for divisors needed:"))
summ1=0
for i in range(1,n2+1):
    if n2%i==0:
        summ1=summ1+i
print(f"The sum of divisors of {n2} is {summ1}")

Enter the number for divisors needed: 75

The sum of divisors of 75 is 124

**Count Wrapper**
- Counter means counting the success ones
- count=0
- for loop
  - count=count+1

In [33]:
# Find the number of divisors of 75
# if you divide 75 with any number the remainder should be 0

n3=eval(input("Enter the number for divisors needed:"))
count=0
for i in range(1,n3+1):
    if n3%i==0:
        count=count+1
print(f"The divisors of {n3} are {count}")

Enter the number for divisors needed: 75

The divisors of 75 are 6

In [37]:
# Ask the user get 5 random numbers
# means you need to get a random number inside for loop
# the loop should run 5 times
# now perform the even and odd operation
# even count, sum of even, odd count, sum of odd

import random
count_even=0
count_odd=0
sum_even=0
sum_odd=0
for i in range(5):
    number=random.randint(1,100)
    if number%2==0:
        print(number)
        count_even=count_even+1
        sum_even=sum_even+number
    else:
        print(number)
        count_odd=count_odd+1
        sum_odd=sum_odd+number
print(f"There are {count_even} even numbers")
print(f"The sum of even numbers is {sum_even}")
print(f"There are {count_odd} even numbers")
print(f"The sum of odd numbers is {sum_odd}")

81
4
55
18
16
There are 3 even numbers
The sum of even numbers is 38
There are 2 even numbers
The sum of odd numbers is 136

In [57]:
for i in range(3):
    numb1=eval(input("Enter the number"))
    numb2=random.randint(1,10)
    if numb1==numb2:
        print("You Won")
        break
    else:
        print("You Lost")

Enter the number 5

You Lost

Enter the number 9

You Lost

Enter the number 4

You Lost

**in**
- In for loop we have range and in operators
- range is math related word, whenever we use range it expects a number inside range
- in operator expects a string

In [2]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range('python'):
    print(i,end=' ')

TypeError: 'str' object cannot be interpreted as an integer

In [6]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [8]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

True

**ASCII**: $American$ $Standard$ $Code$ $for$ $Information$ $Interchange$

In [12]:
'A'>'a'

False

- How to convert character to number
- How to convert number to character

**chr-ord**

In [20]:
chr(97)

'a'

In [22]:
ord('A')

65

In [30]:
ord(' ')

32

In [32]:
chr(32)

' '

- So **ord** converting charater to number
- **chr** converting number to character

In [57]:
# WAP ask the user get ASCII from A to Z
# print: A:65

for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(f"{i}:{ord(i)}")

A:65
B:66
C:67
D:68
E:69
F:70
G:71
H:72
I:73
J:74
K:75
L:76
M:77
N:78
O:79
P:80
Q:81
R:82
S:83
T:84
U:85
V:86
W:87
X:88
Y:89
Z:90

**package: string**

In [60]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [64]:
for i in string.ascii_uppercase:
    print(f"{i}:{ord(i)}")

A:65
B:66
C:67
D:68
E:69
F:70
G:71
H:72
I:73
J:74
K:75
L:76
M:77
N:78
O:79
P:80
Q:81
R:82
S:83
T:84
U:85
V:86
W:87
X:88
Y:89
Z:90

In [66]:
for i in string.ascii_lowercase:
    print(f"{i}:{ord(i)}")

a:97
b:98
c:99
d:100
e:101
f:102
g:103
h:104
i:105
j:106
k:107
l:108
m:109
n:110
o:111
p:112
q:113
r:114
s:115
t:116
u:117
v:118
w:119
x:120
y:121
z:122

In [68]:
for i in string.punctuation:
    print(f"{i}:{ord(i)}")

!:33
":34
#:35
$:36
%:37
&:38
':39
(:40
):41
*:42
+:43
,:44
-:45
.:46
/:47
::58
;:59
<:60
=:61
>:62
?:63
@:64
[:91
\:92
]:93
^:94
_:95
`:96
{:123
|:124
}:125
~:126

In [70]:
for i in string.whitespace:
    print(f"{i}:{ord(i)}")

 :32
	:9

:10
:13
:11
:12

In [72]:
for i in string.digits:
    print(f"{i}:{ord(i)}")

0:48
1:49
2:50
3:51
4:52
5:53
6:54
7:55
8:56
9:57

In [76]:
for i in range(33,127):
    print(f"{i}:{chr(i)}")

33:!
34:"
35:#
36:$
37:%
38:&
39:'
40:(
41:)
42:*
43:+
44:,
45:-
46:.
47:/
48:0
49:1
50:2
51:3
52:4
53:5
54:6
55:7
56:8
57:9
58::
59:;
60:<
61:=
62:>
63:?
64:@
65:A
66:B
67:C
68:D
69:E
70:F
71:G
72:H
73:I
74:J
75:K
76:L
77:M
78:N
79:O
80:P
81:Q
82:R
83:S
84:T
85:U
86:V
87:W
88:X
89:Y
90:Z
91:[
92:\
93:]
94:^
95:_
96:`
97:a
98:b
99:c
100:d
101:e
102:f
103:g
104:h
105:i
106:j
107:k
108:l
109:m
110:n
111:o
112:p
113:q
114:r
115:s
116:t
117:u
118:v
119:w
120:x
121:y
122:z
123:{
124:|
125:}
126:~

In [78]:
for i in range(0,33):
    print(f"{i}:{chr(i)}")

0: 
1:
2:
3:
4:
5:
6:
7:
8
9:
10:

11:
12:
13:
14:
15:
16:
17:
18:
19:
20:
21:
22:
23:
24:
25:
26:
27:
28:
29:
30:
31:
32:

In [86]:
for i in range(3072,3199):
    print(f"{i}:{chr(i)}")

3072:ఀ
3073:ఁ
3074:ం
3075:ః
3076:ఄ
3077:అ
3078:ఆ
3079:ఇ
3080:ఈ
3081:ఉ
3082:ఊ
3083:ఋ
3084:ఌ
3085:఍
3086:ఎ
3087:ఏ
3088:ఐ
3089:఑
3090:ఒ
3091:ఓ
3092:ఔ
3093:క
3094:ఖ
3095:గ
3096:ఘ
3097:ఙ
3098:చ
3099:ఛ
3100:జ
3101:ఝ
3102:ఞ
3103:ట
3104:ఠ
3105:డ
3106:ఢ
3107:ణ
3108:త
3109:థ
3110:ద
3111:ధ
3112:న
3113:఩
3114:ప
3115:ఫ
3116:బ
3117:భ
3118:మ
3119:య
3120:ర
3121:ఱ
3122:ల
3123:ళ
3124:ఴ
3125:వ
3126:శ
3127:ష
3128:స
3129:హ
3130:఺
3131:఻
3132:఼
3133:ఽ
3134:ా
3135:ి
3136:ీ
3137:ు
3138:ూ
3139:ృ
3140:ౄ
3141:౅
3142:ె
3143:ే
3144:ై
3145:౉
3146:ొ
3147:ో
3148:ౌ
3149:్
3150:౎
3151:౏
3152:౐
3153:౑
3154:౒
3155:౓
3156:౔
3157:ౕ
3158:ౖ
3159:౗
3160:ౘ
3161:ౙ
3162:ౚ
3163:౛
3164:౜
3165:ౝ
3166:౞
3167:౟
3168:ౠ
3169:ౡ
3170:ౢ
3171:ౣ
3172:౤
3173:౥
3174:౦
3175:౧
3176:౨
3177:౩
3178:౪
3179:౫
3180:౬
3181:౭
3182:౮
3183:౯
3184:౰
3185:౱
3186:౲
3187:౳
3188:౴
3189:౵
3190:౶
3191:౷
3192:౸
3193:౹
3194:౺
3195:౻
3196:౼
3197:౽
3198:౾