In [3]:
print(30, 'NareshiT', 'Hyd')

30 NareshiT Hyd

In [5]:
num1=100
num2=200
add=num1+num2
# The addition of 100 and 200 is 300
print("The addition of 100 and 200 is 300")
print("The addition of num1 and num2 is 300")
print("The addition of",num1,"and",num2,"is",add)

The addition of 100 and 200 is 300
The addition of num1 and num2 is 300
The addition of 100 and 200 is 300

In [9]:
name="python"
age=10
city="hyd"
# My name is python I am 10 years old came from hyd
print("My name is",name,"I am",age,"years old came from",city)

My name is python I am 10 years old came from hyd

**Format**

In [14]:
name="python"
age=10
city="hyd"
print("My name is {} I am years old came from {}".format(name,age,city))

My name is python I am years old came from 10

In [16]:
num1=100
num2=200
add=num1+num2
# The addition of 100 and 200 is 300
print("The addition of {} and {} is {}".format(num1,num2,add))

The addition of 100 and 200 is 300

In [20]:
# WAP take two numbers perform the 
# substraction
# multiplication
# division
# print the statements as follows

# the substration of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5

sub=num1-num2
print("The substraction of {} and {} is {}".format(num1,num2,sub))
mul=num1*num2
print("The multiplication of {} and {} is {}".format(num1,num2,mul))
div=num1/num2
print("The division of {} and {} is {}".format(num1,num2,div))

The substraction of 100 and 200 is -100
The multiplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

In [22]:
# WAP take three number perform the average
# a,b,c
# avg=(a+b+c)/3
# print the statement
# the avg of a,b,c is: avg
a=5
b=10
c=15
add=a+b+c
avg=add/3
print("The average of {}, {}, {} is {}".format(a,b,c,avg))

The average of 5, 10, 15 is 10.0

**f string: formatted string method**

In [24]:
num1=100
num2=200
add=num1+num2
# The addition of 100 and 200 is 300
print(f"The addition of {num1} and {num2} is {add}")

The addition of 100 and 200 is 300

In [29]:
sub=num1-num2
print(f"The substraction of {num1} and {num2} is {sub}")
mul=num1*num2
print(f"The multiplication of {num1} and {num2} is {mul}")
div=num1/num2
print(f"The division of {num1} and {num2} is {div}")

The substraction of 100 and 200 is -100
The multiplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

**round**

In [32]:
print(round(10.77777))

11

In [34]:
print(round(10.77777,2))

10.78

In [36]:
print(round(10.77777,3))

10.778

In [40]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(round(avg,2))

20.33

In [42]:
# print multiple statements in one line
# we need to use end operator

**end operator**

In [45]:
print(10,end="")
print(20)

1020

In [47]:
print(10,end=" ")
print(20)

10 20

In [49]:
print(10,end="===>")
print(20)

10===>20

In [51]:
print('Hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

Hello how are you

In [53]:
# I have multiple values in a single print statement
# I want to print them with some separation

**sep opeartor**

In [56]:
print(10,20,30,sep='===>')

10===>20===>30

In [5]:
# WAP take the radius of a circle calculate area of the circle
# var: radius var: pi=3.14
# formula; pi*radius8radius
# print the answers using f string and format

rad=5
pi=3.14
area=pi*rad*rad
print("The area of circle is {}".format(area))
print(f"The area of circle is {area}")

The area of circle is 78.5
The area of circle is 78.5

In [7]:
# WAP take the breadth and height of a right angle triangle
# calculate the area
# var1: breadth var2: height
#formula: 0.5*breadth*height

breadth=10
height=20
area1=0.5*breadth*height
print("The area of right angle triangle is {}".format(area1))
print(f"The area of right angle triangle is {area1}")

The area of right angle triangle is 100.0
The area of right angle triangle is 100.0

In [9]:
# WAP take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formula

bill=2000
tip=500
total=bill+tip
print("The total amount of customer is {}".format(total))
print(f"The total amount of customer is {total}")

The total amount of customer is 2500
The total amount of customer is 2500

In [1]:
# WAP take the length and breadth of a rectangle calculate area
# var1: length var2: breadth
# formula: length*breadth

length=30
breadth=20
area2=length*breadth
print("The area of rectangle is {}".format(area2))
print(f"The area of rectangle is {area2}")

The area of rectangle is 600
The area of rectangle is 600

**input**
- In above we provided the value
- input is the inbuilt function
- Ising input the user can provide any value

In [5]:
input

- Note: Whenever if we see bound method or function which indicates we forggot the brackets

In [8]:
input()

 100

'100'

In [10]:
input()

 Python

'Python'

In [12]:
a=100
b=input()

 200

In [14]:
name=input()

 Naresh iT

In [16]:
name

'Naresh iT'

In [21]:
n1=input()    # ni='100'
n2=input()    # n2='200'
n3=input()    # n3='300'

 100
 200
 300

In [23]:
n1,n2,n3

('100', '200', '300')

In [29]:
n1=input("Enter the number1:")   # n1='200'
n2=input("Enter the number2:")   # n2='300'
n1+n2   # '200'+'300'='200300'

Enter the number1: 200
Enter the number2: 300

'200300'

- Input values by default string type

In [36]:
str1='Apple '
str2='is a '
str3='fruit'
str1+str2+str3

'Apple is a fruit'

In [44]:
str1=input("Enter a string1:")
str2=input("Enter a string2:")
str3=input("Enter a string3:")
str1+str2+str3

Enter a string1: Apple
Enter a string2: is a
Enter a string3: fruit

'Apple is a fruit'

**eval**
- eval means evaluate
- It is related to math family
- Which means it works only number represents as strings
- It will not work on english letters
- eval will convert the respective data type which is user enters
- If user enter 10 in quotes it will convert into 10
- If user enter 10.5 in quotes it will convert into 10.5

In [47]:
int('10')      # 10
int('10.5')   # error

float('10')   # 10.0
float('10.5') # 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [49]:
eval('10'),eval('10.5')

(10, 10.5)

In [51]:
n1=eval(input("Enter the number1:"))
n2=eval(input("Enter the number2:"))
n1+n2

Enter the number1: 200
Enter the number2: 300

500

In [69]:
# WAP ask the user enter 3 numbers n1,n2,n3 from keyboard
# calculate average

n1=eval(input("Enter the first number:"))
n2=eval(input("Enter the second number:"))
n3=eval(input("Enter the third number:"))
avg=(n1+n2+n3)/3
print(f"The average of three numbers is {avg}")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30

The average of three numbers is 20.0

In [73]:
# WAP ask the user enter name, age, city
# print my name is python im 10 years old and came from hyd

name=input("Enter the name:")
age=eval(input("Enter the age:"))
city=input("Enter the city:")
print(f"My name is {name} I am {age} years old and came from {city}")

Enter the name: python
Enter the age: 10
Enter the city: hyd

My name is python I am 10 years old and came from hyd

In [1]:
# WAP ask the user to enter the radius of a circle calculate area of the circle
# var: radius var: pi=3.14
# formula; pi*radius8radius
# print the answers using f string and format

radius=eval(input("Enter the radius:"))
pi=3.14
area=pi*radius*radius
print(f"The area of circle is {area}")

Enter the radius: 5

The area of circle is 78.5

In [3]:
# WAP ask the user to enter the breadth and height of a right angle triangle
# calculate the area
# var1: breadth var2: height
#formula: 0.5*breadth*height

breadth=eval(input("Enter the breadth of triangle:"))
height=eval(input("Enter the height of triangle:"))
area1=0.5*breadth*height
print(f"The area of right angle triangle is {area1}")

Enter the breadth of triangle: 10
Enter the height of triangle: 20

The area of right angle triangle is 100.0

In [5]:
# WAP ask the user to enter the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formula

bill=eval(input("Enter the bill amount of customer:"))
tip=eval(input("Enter the tip amount of customer:"))
total=bill+tip
print(f"The total amount of customer is {total}")

Enter the bill amount of customer: 2000
Enter the tip amount of customer: 200

The total amount of customer is 2200

In [9]:
# WAP ask the user to enter the bill amount and tip percentage
# take the percentage as 10
# calculate total bill=bill amount+tip per/100
# var1: bill amount var2: tip perc

bill_amount=eval(input("Enter the bill amount of customer:"))
tip_percent=eval(input("Enter the tip percentage of customer:"))
total_amount=bill_amount+bill_amount*tip_percent/100
print(f"The total amount of customer is {total_amount}")

Enter the bill amount of customer: 2000
Enter the tip percentage of customer: 10

The total amount of customer is 2200.0

In [11]:
# WAP ask the user the length and breadth of a rectangle calculate area
# var1: length var2: breadth
# formula: length*breadth

length=eval(input("Enter the length of rectangle:"))
breadth=eval(input("Enter the breadth of rectangle:"))
area2=length*breadth
print(f"The area of rectangle is {area2}")

Enter the length of rectangle: 30
Enter the breadth of rectangle: 20

The area of rectangle is 600

In [13]:
# WAP ask the user take the radius and calculate volume of sphere
# formula: pi*r**3   (pi*r*r*r)

radius=eval(input("Enter the radius of sphere:"))
pi=3.14
volume=pi*radius*radius
print(f"The area of circle is {volume}")

Enter the radius of sphere: 10

The area of circle is 314.0

In [17]:
# WAP ask the user to enter amount in dollars convert into rupees
# 1$=85rs

dollar=eval(input("Enter the amount in dollars:"))
rupee=85*dollar
print(f"The amount conversion of ${dollar} into ₹{rupee}")

Enter the amount in dollars: 50

The amount conversion of $50 into ₹4250

In [23]:
# WAP ask the user to enter weight in kgs convert into pounds
# 1kg=2.2pounds

kilograms=eval(input("Enter the weight in kilograms:"))
pounds=2.2*kilograms
print(f"The weight conversion of {kilograms}KGs into {pounds}Pounds")

Enter the weight in kilograms: 10

The weight conversion of 10KGs into 22.0Pounds