**Basic Representation**
- String elements is in quotes.
- List is in square brackets

In [3]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [5]:
type(list1)

list

In [7]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [9]:
list3=[1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [11]:
list4=[1.1,2.2,3.3]
list4

[1.1, 2.2, 3.3]

In [15]:
list5=[True,False]
list5

[True, False]

In [17]:
list6=[10j,20+30j]
list6

[10j, (20+30j)]

In [19]:
list7=[10,10,10]
list7

[10, 10, 10]

In [21]:
list8=[10,20,30,['Apple','Banana']]
list8

[10, 20, 30, ['Apple', 'Banana']]

In [23]:
list9=[_]
list9

['{"dataframes": [], "user": "ADMIN"}']

In [25]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
len(list1)

5

In [27]:
len(list2)

4

In [29]:
len(list3)

9

In [31]:
min(list1)

2

In [33]:
min(list2)

'Apple'

In [35]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
max(list1)

75

In [39]:
max(list2)

'banana'

In [41]:
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [43]:
sum(list1)

112

In [45]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
sorted(list1)

[2, 5, 10, 20, 75]

In [51]:
sorted(list2)

['Apple', 'Cherry', 'apple', 'banana']

In [53]:
sorted(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
r1=reversed(list1)
for i in r1:
    print(i,end=' ')

75 5 2 20 10

In [65]:
r2=reversed(list2)
for i in r2:
    print(i,end=' ')

banana Cherry apple Apple

In [67]:
r3=reversed(list3)
for i in r3:
    print(i,end=' ')

banana Cherry apple Apple 75 5 2 20 10

**concatenation**

In [70]:
list1=[1,2,3,4]
list2=['A','B','C','D']
list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [72]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [74]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [76]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [78]:
list1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [80]:
list2*2

['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']

**index**

In [85]:
list1=[10,20,30,'A','B','C']
list1[0]

10

In [93]:
for i in range(len(list1)):
    if list1[i]==10:
        print(f"Positive index of 10 is {i}")

Positive index of 10 is 0

In [99]:
for i in range(len(list1)):
    if list1[i]==10:
        print(f"Negative index of 10 is {i-6}")

Negative index of 10 is -6

In [101]:
for i in range(len(list1)):
    if list1[i]==10:
        print(f"Positive index of 10 is {i} and Negative index of 10 is {i-6}")

Positive index of 10 is 0 and Negative index of 10 is -6

In [107]:
list1=[10,20]
list1[1]

20

In [109]:
list2=[[10]]
list2[0][0]

10

In [111]:
len(list1)

2

In [113]:
list1=[[10,20]]
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [117]:
list1=[10,[20]]
list1[1][0]

20

In [121]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [125]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [129]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon Fruit']]]]]
list1[1][2][2][2][0]

'Dragon Fruit'

In [133]:
list1=['Apple',['Kashmir',['India',['Cricket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [135]:
list1=['Orange',['Nagpur',['MH',['Shivaji',['Shambaji',['Vicky']]]]]]
list1[1][1][1][1][1][0]

'Vicky'

In [139]:
list1=[[[[[[[[['Apple']]]]]]]]]
list1[0][0][0][0][0][0][0][0][0]

'Apple'

In [195]:
list1=[10,20,2,5,75]
# sort the list with out sorted funcion
for i in range(0,len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>=list1[j]:
            list1[i],list1[j]=list1[j],list1[i]
print(f"The sorted list is {list1}")

The sorted list is [2, 5, 10, 20, 75]

In [197]:
list1=[10,20,2,5,75]
# find the max value with out max function
maxi=list1[0]
for i in range(1,len(list1)):
    if list1[i]>maxi:
        maxi=list1[i]        
print(f"The maximum value is {maxi}")

The maximum value is 75

In [199]:
list1=[10,20,2,5,75]
# find the min value with out min function
mini=list1[0]
for i in range(1,len(list1)):
    if list1[i]<mini:
        mini=list1[i]        
print(f"The minimum value is {mini}")

The minimum value is 2

In [201]:
list1=[10,20,2,5,75]
# reverse the elements without reversed function
list2=list1[::-1]
print(f"The reverse list is {list2}")

The reverse list is [75, 5, 2, 20, 10]

In [203]:
list1=[10,20,2,5,75]
# sum the elements without sum function
summ=0
for i in range(len(list1)):
    summ=summ+list1[i]
print(f"The sum of list elements is {summ}")

The sum of list elements is 112

In [205]:
list1=[10,20,2,5,75]
# find the second max
first_max=list1[0]
second_max=list1[0]
for i in range(len(list1)):
    if list1[i]>first_max:
        first_max,second_max=list1[i],first_max
    elif first_max>list1[i]>second_max:
        second_max=list1[i]
print(f"The second maximum value is {second_max}")

The second maximum value is 20

In [1]:
list1=[10,20,2,5,75]
# find the second min
first_min=list1[0]
second_min=list1[0]
for i in range(len(list1)):
    if list1[i]<first_min:
        first_min,second_min=list1[i],first_min
    elif first_min<list1[i]<second_min:
        second_min=list1[i]
print(f"The second minimum value is {second_min}")

The second minimum value is 5

In [3]:
str1='Python'
list1=['P','y','t','h','o','n']

**range vs in-operator**
- When we have use with index then go far range
- When we have use with only element go for in

In [6]:
list1=[100,200,300,400]
list1[0]=20
list1

[20, 200, 300, 400]

**list is mutable**

**slice**

In [11]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[2:10:2]

[30, 50, 'B', 'D']

**Methods**

- if we wants to know the strings method
dir([])

In [15]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- clear
- copy
- count

In [18]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1.clear()
l1

[]

In [20]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l2=l1.copy()
l1.copy()
print(l1)
print(l2)

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']
[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [22]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana',10]
l1.count(10)

2

In [24]:
str1='ola ola ola'
str1.count('l')

3

**append**
- append is very very impportant method in the entitre list
- In our life we will use this methods very very frequently
- append means adding an element at last

In [27]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [29]:
l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [31]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**always recall if u see anywhere multiple values means must of the time will keep those values in a list**

In [36]:
l1=[10,20,30]
l1.append('apple')
l1

l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

l1=[10,20,30]
l1.append('apple','banana')
l1

l1=[10,20,30]
l1.append(['apple','banana'])
l1

TypeError: list.append() takes exactly one argument (2 given)

**append method is used to store the outputs**

In [39]:
#for example i want to append a number from 1 to 5
# l=[1,2,3,4,5]

l=[]
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)

l

[1, 2, 3, 4, 5]

In [41]:
l=[]
for i in range(1,6):
    l.append(i)
i

5

In [43]:
l=[]
for i in range(1,10):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# wap ask the user enter 3 random numbers
# and perform the square of the numbers,save those squares in a list

import random
for i in range(3):
    num=random.randint(1,100)
    print(num)

39
23
47

In [47]:
import random
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(num)
l

[79, 80, 63]

In [49]:
import random
for i in range(3):
    num=random.randint(1,100)
    l.append(f'{num}:{num*num}')
l

[79, 80, 63, '23:529', '50:2500', '80:6400']

In [51]:
# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'

inpu = 'can canner can you can not canner with you but you can the canner'
l=inpu.split()
stopwords=['not','you','but','with']
output=[]
for i in l:
    if i not in stopwords:
        output.append(i)
output

['can', 'canner', 'can', 'can', 'canner', 'can', 'the', 'canner']

In [83]:
# Q11) take a string find the most repeated word from string

inpu = 'can canner can you can not canner with you but you can the canner'
l=inpu.split()
l1=[]
counter=[]
for i in l:
    if i not in l1:
        l1.append(i)
        counter.append(l.count(i))
print(l1)
print(counter)

['can', 'canner', 'you', 'not', 'with', 'but', 'the']
[4, 3, 3, 1, 1, 1, 1]

**extend**

In [98]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [100]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.extend(l1)
l2

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [102]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D']]

In [104]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
print(l1+l2)
print(l1)
print(l2)
print("l1 will overwrite if we use extend")
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
l1 will overwrite if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**index**
- In strings we have index and find
- But in list we have only index

In [108]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1=l1.index(40)
print(l1.index(40,i1+1))

8

**insert**

In [111]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
id=l1.index('Apple')
l1.insert(id+1,100)
l1

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

In [113]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.append(100)
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50, 100]

**pop vs remove**

In [118]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop()
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40]

In [120]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop(5)
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [122]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove('Apple')
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [124]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove(40)
l1

[10, 20, 30, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [126]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

If we want delete any element
- pop: based on index
- remove: based on value
- del is an inbuilt function

In [129]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del l1[5]
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

**reverse-reversed**
- reverse is a method
- reversed is an inbuilt function

In [133]:
l1=[10,20,30,40,50]
l1.reverse()
l1

[50, 40, 30, 20, 10]

**IN PLACE**
- When we perform the operations some times the values will not overrite
- If we see **IN PLACE** word or **Inplac=True**
- This indicates the output will be overwrite in corresponding variable

In [136]:
l1=[10,20,30,40,50]
reversed(l1)
print(l1)

[10, 20, 30, 40, 50]

**sort-sorted**

In [145]:
l1=[9,5,2,4,8]
l1.sort()
l1

[9, 8, 5, 4, 2]

In [143]:
l1=[9,5,2,4,8]
sorted(l1)

[2, 4, 5, 8, 9]

**Tuple**
- Tuple is in paranthesis

In [3]:
t1=(10,20,30,40,50)
print(t1)

(10, 20, 30, 40, 50)

In [6]:
type(t1)

tuple

In [8]:
t1=('A','B','C','D')
t1

('A', 'B', 'C', 'D')

In [10]:
t1=(9,5,2,4,8,'Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
len(t1)

10

In [14]:
t1=(9,5,2,4,8)
min(t1)

2

In [18]:
t1=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
min(t1)

'Bugatti'

In [20]:
t1=(9,5,2,4,8)
max(t1)

9

In [22]:
t1=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
max(t1)

'Rolls Royce'

In [24]:
t1=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
sum(t1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
t1=(9,5,2,4,8)
sum(t1)

28

In [32]:
t1=(9,5,2,4,8)
sorted(t1)

[2, 4, 5, 8, 9]

In [34]:
t1=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
sorted(t1)

['Bugatti', 'Jaguar', 'Lambo', 'Mustang', 'Rolls Royce']

In [42]:
t1=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t2=reversed(t1)
for i in t2:
    print(i,end=',')

Rolls Royce,Mustang,Lambo,Jaguar,Bugatti,

In [44]:
t1=(9,5,2,4,8)
t2=reversed(t1)
for i in t2:
    print(i,end=',')

8,4,2,5,9,

In [46]:
t1=(9,5,2,4,8)
t2=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1+t2

(9, 5, 2, 4, 8, 'Bugatti', 'Jaguar', 'Lambo', 'Mustang', 'Rolls Royce')

In [48]:
t1=(9,5,2,4,8)
t2=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1-t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [50]:
t1=(9,5,2,4,8)
t2=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1*2

(9, 5, 2, 4, 8, 9, 5, 2, 4, 8)

In [52]:
t1=(9,5,2,4,8)
t2=('Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1/t2

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [58]:
t1=(9,5,2,4,8,'Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1[3]

4

In [60]:
t1[5]

'Bugatti'

In [64]:
t1[4]=6
t1

TypeError: 'tuple' object does not support item assignment

In [68]:
t1=(9,5,2,4,8,'Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1[2:8:2]

(2, 8, 'Jaguar')

In [70]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [74]:
t1=(9,5,2,4,8,'Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1.count('Jaguar')

1

In [76]:
t1=(9,5,0,2,4,9,1,0,0,5)
t1.count(0)

3

In [78]:
t1=(9,5,2,4,8,'Bugatti','Jaguar','Lambo','Mustang','Rolls Royce')
t1.index('Bugatti')

5

In [80]:
t1.index(8)

4

In [82]:
t1=(9,5,0,2,4,9,1,0,0,5)
i1=t1.index(0)

2

In [86]:
t1=(9,5,0,2,4,9,1,0,0,5)
i1=t1.index(0)
t1.index(0,i1+1)

7